@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
.App {
  height: 100vh; /* Ajustado para ocupar toda la altura de la ventana */
  background-color: #4e6617; /* Cambia el color de fondo según tus preferencias */
  overflow: hidden; /* Para evitar el desbordamiento del contenido */
  .video{
    height: 100%;
  }
}


.video-background {
  width: 100%;
  height: 100%;
 
}




.confirmar-asistencia {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffe65e;
text-align: center;
  padding: 20px;
  border-radius: 10px; /* Añade bordes redondeados */
  box-shadow: 0 0 10px rgba(15, 15, 15, 0.829); /* Añade una sombra ligera */
}

.confirmar-asistencia h2 {
  font-family: 'PT Serif', serif;
  margin-bottom: 15px;
  color: #000000; /* Cambia el color del texto según tus preferencias */
}

.confirmar-asistencia form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmar-asistencia label,
.confirmar-asistencia select {
  margin-bottom: 15px;
}

.confirmar-asistencia button {
  padding: 12px;
  cursor: pointer;
  background-color: #4e6617; /* Cambia el color de fondo del botón */
  color: #fff; /* Cambia el color del texto del botón */
  border: none;
  border-radius: 5px;
  font-family: 'PT Serif', serif;
}

.confirmar-asistencia button:hover {
  background-color: #0056b3; /* Cambia el color de fondo cuando el mouse pasa sobre el botón */
}
label{
  font-family: 'PT Serif', serif;
  color: #000000;
}

/* App.css */

/* Otros estilos existentes... */



.custom-swal-popup {
  background-color: #4e6617 !important; /* Green background color */
  font-family: 'PT Serif', serif;
  color: #000000 !important; /* Text color */
  font-size: 20px;
  
}

.custom-swal-title {
  font-family: 'PT Serif', serif;
}

.custom-swal-content {
  font-family: 'PT Serif', serif;
  
}

.custom-swal-confirm-button {
  font-family: 'PT Serif', serif;
  background: #ffe65e !important;
  color: #000 !important;
 
}

.custom-swal-cancel-button {
  font-family: 'PT Serif', serif;
  background-color: #ffe65e;
}


.swal-text {
  font-size: 16px; /* Ejemplo de estilo para el texto del mensaje */
  line-height: 1.5; /* Ejemplo de estilo para el espaciado entre líneas */
  font-family: 'PT Serif', serif
}


